:root {
	--saturation-factor: 1;

	--blue-345: hsl(200 calc(var(--saturation-factor) * 100%) 49.4%);
	--blue-430: hsl(212 calc(var(--saturation-factor) * 100%) 45.3%);

	--brand-500: hsl(235 calc(var(--saturation-factor) * 85.6%) 64.7%);
	--brand-560: hsl(235 calc(var(--saturation-factor) * 51.4%) 52.4%);
	--brand-600: hsl(235 calc(var(--saturation-factor) * 46.7%) 44.1%);

	--primary-200: hsl(216 calc(var(--saturation-factor) * 9.8%) 90%);
	--primary-230: hsl(210 calc(var(--saturation-factor) * 9.1%) 87.1%);
	--primary-330: hsl(215 calc(var(--saturation-factor) * 8.8%) 73.3%);
	--primary-500: hsl(228 calc(var(--saturation-factor) * 6%) 32.5%);
	--primary-600: hsl(223 calc(var(--saturation-factor) * 6.7%) 20.6%);
	--primary-700: hsl(225 calc(var(--saturation-factor) * 6.3%) 12.5%);

	--red-345: hsl(358 calc(var(--saturation-factor) * 92.9%) 72.4%);
	--red-400: hsl(359 calc(var(--saturation-factor) * 87.3%) 59.8%);
	--red-430: hsl(358 calc(var(--saturation-factor) * 68.8%) 53.5%);
	--red-500: hsl(360 calc(var(--saturation-factor) * 60.2%) 39.4%);

	--white-500: hsl(0 calc(var(--saturation-factor) * 0%) 100%);

	--brand-experiment: var(--brand-500);
	--brand-experiment-560: var(--brand-560);
	--brand-experiment-600: var(--brand-600);

	--header-secondary: var(--primary-500);

	--input-background: var(--primary-200);

	--status-danger: var(--red-430);

	--text-danger: var(--red-500);
	--text-link: var(--blue-430);
	--text-normal: var(--primary-600);
}

:root.dark {
	--header-secondary: var(--primary-330);

	--input-background: var(--primary-700);

	--status-danger: var(--red-400);

	--text-danger: var(--red-345);
	--text-link: var(--blue-345);
	--text-normal: var(--primary-230);
}
